<div class="island no-padding">
  <h3 class="db-island-header padded">Login</h3>
  <ul class="settings-list form-layout">
    <li class="form-input">
      <label>Username:</label>
      {{input class="username text-input"}}
    </li>
    <li class="form-input">
      <label>Password:</label>
      {{password-toggle inputClass="password text-input"}}
    </li>
  </ul>
</div>
<div class="settings-actions">
  <button class="login btn-save" {{action "login"}}>Login</button>
</div>
